.box {
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  width: 700px;
  height: 500px;
  justify-content: center;
  align-items: ceneter;
  border: 1px solid var(--color-light-pink);

  box-shadow: 1px 9px 16px 0px rgba(129, 129, 129, 0.57);
  -webkit-box-shadow: 1px 9px 16px 0px rgba(129, 129, 129, 0.57);
  -moz-box-shadow: 1px 9px 16px 0px rgba(129, 129, 129, 0.57);
}
