.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
  width: 70%;
}

.react-calendar {
  border: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.react-calendar__navigation {
  margin-top: 8px;
}

.react-calendar__tile {
  position: relative;
  height: 70px;
  border: 1px solid var(--color-light-pink);
  padding-top: 0;
  padding-bottom: 0;

  display: flex;
  align-items: flex-end;
}

.react-calendar__month-view__days__day abbr {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
abbr {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
}

/* year, month */
.react-calendar__navigation__label > span {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: var(--weight-bold);
  font-size: var(--font-regular);
}
/* 요일 */
.react-calendar__month-view__weekdays abbr {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: var(--weight-bold);
  text-decoration: none;
}

/* day tile */
.react-calendar__tile:enabled:hover abbr,
.react-calendar__tile:enabled:focus abbr {
  background-color: var(--color-light-pink);
  border-radius: 50%;
  color: var(--color-white);
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: transparent;
}
.react-calendar__tile--active abbr {
  background-color: var(--color-pink);
  color: var(--color-white);
  border-radius: 50%;
}
.react-calendar__tile--active {
  background-color: transparent;
}

/* today */
.react-calendar__tile--now abbr {
  background: var(--color-green);
  color: var(--color-white);
  border-radius: 50%;
}
.react-calendar__tile--now {
  background: transparent;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  color: var(--color-white);
}

.scheduleBox {
  width: 100%;
  padding-left: 4px;
  padding-right: 4px;
}
.scheduleBox div {
  border-radius: 4px;
  font-size: var(--font-micro);
  color: var(--color-white);
}
