:root {
  --color-light-pink: #ffbfbf;
  --color-pink: #ff8f8f;
  --color-yellow: #fbde7e;
  --color-green: #bfe19b;
  --color-white: #ffffff;
  --color-light-gray: #f3f3f3;
  --color-gray: #cfcfcf;

  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-medium: 500;
  --weight-regular: 400;
  --weight-light: 300;

  --font-large: 40px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 14px;
  --font-micro: 10px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  background: rgb(204, 255, 209);
  background: linear-gradient(
    0deg,
    rgba(204, 255, 209, 1) 0%,
    rgba(255, 182, 182, 1) 100%
  );

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Open Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}
